{{>admin}}
<h2>All Rooms</h2>
<div class="table">
  <table>
    <thead>
      <tr>
        <td>Room #</td>
        <td>Status</td>
        <td>Customer Details</td>
        <td>View</td>
      </tr>
    </thea>
    <tbody>
      {{#each rooms}}
      <tr class="
      {{#if this.dataValues.available}}
            room-available
          {{/if}}
          {{#unless this.dataValues.available}}
            {{#unless this.dataValues.checkin}}
              room-reserved
            {{/unless}}
            {{#if this.dataValues.checkin}}
              room-occupied
            {{/if}}
          {{/unless}}
          ">
        <td>{{this.dataValues.id}}</td>
        <td>
          {{#if this.dataValues.available}}
            Vacant
          {{/if}}
          {{#unless this.dataValues.available}}
            {{#unless this.dataValues.checkin}}
              Reserved
            {{/unless}}
            {{#if this.dataValues.checkin}}
              Occupied 
            {{/if}}
          {{/unless}}
        </td>
        {{#if this.dataValues.Guest.dataValues.first_name}}
        <td>{{this.dataValues.Guest.dataValues.first_name}}, {{this.dataValues.Guest.dataValues.last_name}}</td>
        {{else}}
        <td>&nbsp;</td>
        {{/if}}
        <td><a href="/admin/rooms/id/{{this.dataValues.id}}">View Room</a></td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<ul class="legend">
  <li><span class="room-available">Room Available</span></li>
  <li><span class="room-reserved">Room Reserved</span></li>
  <li><span class="room-occupied">Room Occupied</span></li>
</ul>