{{>admin}}

<h2>All Guests</h2>

<form method="POST" class="yelpy">
  
  <input type="text" name="search" placeholder="Search by first or last name">
  <input type="submit" value="Search">

</form>

<h2>Results</h2>

{{#if guests}}
{{#each guests}}
<ul class="results">
  <li>
    <h3>Confirmation Number: #{{this.dataValues.id}}</h3>
    <strong>Room Number:</strong> {{this.dataValues.room_number}} <br />
    <strong>First Name:</strong> {{this.dataValues.first_name}} <br />
    <strong>Last Name:</strong> {{this.dataValues.last_name}} <br />
    <strong>Phone:</strong> {{this.dataValues.phone}} <br />
    <strong>Email:</strong> {{this.dataValues.email}} <br />
  </li>
</ul>
{{/each}}
{{else}}
<p class="room-occupied">No results matching your request...</p>
{{/if}}