{{>admin}}

<form method="POST">
  <label>
    <span>Search for guest:</span>
    <input type="text" name="search">
  </label>
  <label>
    <input type="submit" value="Search">
  </label>
</form>

<h2>All Guests</h2>
{{#each guests}}
<ul class="results">
  <li>
    <strong>Reference #:</strong> {{this.dataValues.id}} <br />
    <strong>First Name:</strong> {{this.dataValues.first_name}} <br />
    <strong>Last Name:</strong> {{this.dataValues.last_name}} <br />
    <strong>Phone:</strong> {{this.dataValues.phone}} <br />
    <strong>Email:</strong> {{this.dataValues.email}} <br />
  </li>
{{/each}}
</ul>