{{#each rooms}}
  <h3>Current Room Information:</h3>
  <h4>Room #{{this.dataValues.id}}</h4>
  {{#unless this.dataValues.available}}
    {{#if this.dataValues.checkin}}
      <h5><strong>Status:</strong> <span class="occupied">Occupied</span></h5>
    {{/if}}
    {{#unless this.dataValues.checkin}}
      <h5><strong>Status:</strong> <span class="reserved">Reserved</span></h5>
    {{/unless}}
    <ul>
      <li><strong>First Name:</strong> {{this.Guest.dataValues.first_name}}</li>
      <li><strong>Last Name:</strong> {{this.Guest.dataValues.last_name}}</li>
      <li><strong>Phone:</strong> {{this.Guest.dataValues.phone}}</li>
      <li><strong>Email:</strong> {{this.Guest.dataValues.email}}</li>
      <li><strong>Check-in:</strong> {{this.Guest.dataValues.checkin}}</li>
      <li><strong>Check-out:</strong> {{this.Guest.dataValues.checkout}}</li>
    </ul>
    {{#if this.dataValues.checkin}}
      <form action="/admin/checkout/id/{{this.dataValues.id}}/?_method=PUT" method="POST">
        <input type="submit" value="Check Out">
      </form>
    {{/if}}
    {{#unless this.dataValues.checkin}}
      <form action="/admin/checkin/id/{{this.dataValues.id}}/?_method=PUT" method="POST">
        <input type="submit" value="Check In">
      </form>
    {{/unless}}
  {{/unless}}
  {{#if this.dataValues.available}}
    <h4><strong>Status:</strong> <span class="available">Available</span></h4>
    <form action="/admin/book/id/{{this.dataValues.id}}" method="GET">
      <input type="submit" value="Book This Room">
    </form>
  {{/if}}
{{/each}}
<br>
<a href="/admin/rooms">Go Back</a>