{{#each tables}}
<h2>Reservation Info:</h2>
{{#if this.dataValues.available}}
<div class="info">
  <h3>Table #{{this.dataValues.id}}</h3>
  <ul>
    <li><strong>Name:</strong> {{this.dataValues.name}}</li>
    <li><strong>Phone:</strong> {{this.dataValues.phone}}</li>
    <li><strong>Email:</strong> {{this.dataValues.email}}</li>
    <li><strong>Party Size:</strong> {{this.dataValues.num_party}}</li>
    <li><strong>Reservation Time:</strong> {{this.dataValues.res_time}}</li>
  </ul>
  <a class="nav-back" href="/admin/tables">Go Back</a>
</div>
{{/if}}
{{/each}}
