

		<h2>Find your local fun!</h2>

		<form action = "/api/yelp" method ="POST" class="yelpy">
			<input type="text" name="term" placeholder="Yelp Search - Find something near your... e.g Starbucks" required="required">			
			<input type="hidden" name="location" value="Sydney, Australia">
			<input type="submit" value="search">
		</form>

{{#if business}}
<h2>Results</h2>
<ul class="results">
{{#each business}}
	<li>
		<h3>{{name}}</h3>
		<span>Address: {{location}}</span>
		<span>Phone Number: {{phone}}</span>
		<span>Currently Open: {{open}}</span>
		<span>Rating: {{rating}}
	</li>
{{/each}}
</ul>
{{/if}}